body {
  margin: 0;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  color: #162447;
}

h1 {
  margin:50px auto 0 auto;
  color: #e43f5a;
  font-size: 5rem;
  font-family: 'Press Start 2P', cursive;
}

h2{
  color: #e43f5a;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  font-weight: bolder;

}

h2:hover {
    color: #8f8f8f;
    font-weight: 600;

}

h3{
  color: #e43f5a;
  font-family: 'Fira Code', monospace;
  font-family: 'Nunito', sans-serif;
}

p{
  font-family: 'DM Sans', sans-serif;
  line-height: 1.7;
}

hr{
  width: 10%;
  border: dotted #162447 6px;
  border-bottom: none;
  margin: 100px auto;
}

a{
  color: #40514E;
  font-family: 'Nunito', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;

}

.topContainer{
  background-color: #1b1b2f;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

}

.skills {
  width: 50%;
  margin: 100px auto 100px auto;
  padding: 10px;
}

.content-table{
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.2em;
  min-width: 750px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr{
  background-color: #e43f5a;
  color: #dae1e7;
  text-align: left;
  font-weight: bold;
}

.content-table th,
.content-table td{
  padding: 12px 15px;
}

.content-table tbody tr{
  border-bottom: 1px solid #dae1e7;
  text-align: left;
}

.content-table tbody tr:hover{
  font-weight: bolder;
}

.content-table tbody tr:nth-of-type(even){
  background-color: #f3f3f3;
}

.tableimg{
  width: 35px;
}

.skill-row {
   width:50%;
   margin: 100px auto 100px auto;
   text-align: left;

   padding: 10px;
}

.middle-container {
  margin:0;
}

.bottom-container{
  background-color: #dae1e7;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: black;
  font-size: 0.75rem;
  padding: 20px 0;
}

.profile img {
  margin-top: 40px;
}

.screenshot {
  width: 40%;
  position: absolute;
  right: auto;
  left: auto;
  margin: 20px 20px;

}


.topCloud{
  width: 200px;
  position: absolute;
  right: 250px;
  top: 30px;
}

.bottomCloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}


.javalogo {
  width: 25%;
  float:left;
  margin-right: 30px;
}

.solidworks{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.cpp{
  width: 20%;
  float:left;
  margin-right: 30px;
}

.html{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.javascript{
  width: 20%;
  float:left;
  margin-right: 30px;
}


.piggame{
  width: 22.5%;
  float:left;
  margin-right: 30px;
}

.drumkit {
  width: 22.5%;
  float: right;
  margin-left: 30px;
}

.tindog{
  width: 22.5%;
  float:left;
  margin-right: 30px;
}


.passcheck{
  width: 22.5%;
  float: right;
  margin-left: 30px;
}

.budgettrack{
  width: 22.5%;
  float:left;
  margin-right: 30px;
}

.officesite{
  width: 22.5%;
  float:right;
  margin-left: 30px;
}



