body {
  margin: 0;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  color: #162447;
}

h1 {
  margin:50px auto 0 auto;
  color: #e43f5a;
  font-size: 5rem;
  font-family: 'Press Start 2P', cursive;
}

h2{
  color: #e43f5a;
  font-family: 'Nunito', sans-serif;
  font-weight: 500;
  font-size: 2rem;
  font-weight: bolder;

}

h2:hover {
    color: #8f8f8f;
    font-weight: 600;

}

h3{
  color: #e43f5a;
  font-family: 'Fira Code', monospace;
  font-family: 'Nunito', sans-serif;
}

p{
  font-family: 'DM Sans', sans-serif;
  line-height: 1.7;
}

hr{
  width: 10%;
  border: dotted #162447 6px;
  border-bottom: none;
  margin: 100px auto;
}

a{
  color: #40514E;
  font-family: 'Nunito', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

.topContainer{
  background-color: #1b1b2f;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;

}

.skill-row {
   width:50%;
   margin: 100px auto 100px auto;
   text-align: left;

   padding: 10px;
}

.middle-container {
  margin:0;
}

.bottom-container{
  background-color: #dae1e7;
  padding: 50px 0 20px;
}

.intro {
  width: 30%;
  margin: auto;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: black;
  font-size: 0.75rem;
  padding: 20px 0;
}

.profile img {
  margin-top: 40px;
}


.topCloud{
  width: 200px;
  position: absolute;
  right: 250px;
  top: 30px;
}

.bottomCloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
}


.javalogo {
  width: 25%;
  float:left;
  margin-right: 30px;
}

.solidworks{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.cpp{
  width: 20%;
  float:left;
  margin-right: 30px;
}
